/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2015, 12:23:37 PM
    Author     : pranj4
*/

body{
    margin: 0;
    padding: 0;
    color: #fff;
}
#wrapper{
    width: 900px;
    margin: 0 auto;
    background: #3c3c3c;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    min-height: 700px;
    padding: 15px;
}
h1{
    color: #fff;

}
ul, li{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
.filtter-area li{
    float: left;
    margin-left:10px;
    margin-right: 10px;
}
select{
    color:#666;
}
#map{
    width:100%;
    height:600px;
    margin-top: 40px;
}
.ad-area{
    color: #3c3c3c;
}